body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.title {
  color: white;
  font-family: cursive;
  font-weight: bolder;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 9px;
  border-radius: 7px;
}

.middle {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 9px;
  border-radius: 7px;
}
.bottom {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 7px;
}
