body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  padding-top: 0px;
}
form {
  margin-top: 30px;
}
img {
  margin-top: 5px;
}
.box {
  background-color: rgba(0, 0, 0, 0.486);
  padding: 5px 5px 8px 5px;
  border-radius: 5px;
}
.title {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 9px;
  border-radius: 7px;
}

.middle {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 9px;
  border-radius: 7px;
}
.bottom {
  background-color: rgba(255, 255, 0, 0.76);
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 7px;
}
